* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper {
	display: grid;
	min-height: 100vh;
	grid-template-columns: 1fr;
	grid-template-rows: 0.07fr 1fr;
	background: url(https://images.unsplash.com/photo-1676451774855-41336e3faf0e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80);
	background-size: cover;
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr 0.8fr;
	justify-content: center;
	align-items: center;
}

.first-section {
	width: 100%;
	height: 100%;
}

.second-section {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	text-align: end;
	justify-content: flex-start;
	align-items: flex-end;
}

.third-section {
	width: 100%;
	height: 100%;
	grid-column: 1 / 3;
	display: flex;
	justify-content: center;
	align-items: center;
}

form {
	position: relative;
	font-family: 'Overpass', sans-serif;
	display: flex;
	flex-direction: column;
	max-width: 300px;
}

.fa-magnifying-glass {
	background-color: rgba(0, 0, 0, 0);
	border: none;
	cursor: pointer;
	position: absolute;
	left: 90%;
	top: calc(50% - 0.5em);
}

#city-input {
	border-radius: 5px;
	border: solid black 1px;
	background: rgba(255, 255, 255, 0.2);
	width: 100%;
	height: 30px;
	padding-left: 6px;
	opacity: 1;
}

.input-wrapper {
	display: inline;
	position: relative;
}

.unit-switcher {
	display: inline;
}

form > * {
	margin: 5px 0;
}

.current {
	display: flex;
	flex-direction: column;
	width: fit-content;
	min-width: 390px;
	align-self: flex-start;
	justify-self: flex-start;
	margin-left: 100px;
	margin-top: 30px;
	color: white;
	padding: 10px;
	text-shadow: 3px 3px 9px rgba(0, 0, 0, 0.74);
	border-radius: 7px;
}

.current > * {
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 1.3;
	letter-spacing: -0.5px;
}

.current__city {
	font-size: 5rem;
	line-height: 1.2;
	letter-spacing: -1.6px;
	font-weight: 600;
}

.current__region {
	font-size: 2.5rem;
}

.condition-container {
	display: flex;
	flex-direction: row;
	flex: 1;
	position: relative;
	align-items: center;
}

.date-widget {
	max-width: 500px;
	padding: 10px;
	margin-right: 100px;
	margin-top: 30px;
}

.current__time {
	font-size: 5rem;
	line-height: 1.2;
	letter-spacing: -1.6px;
	font-weight: 600;
	color: white;
	text-shadow: 3px 3px 9px rgba(0, 0, 0, 0.74);
	font-family: 'Overpass', sans-serif;
}

.current__temp {
	display: inline-block;
	font-size: 3.3rem;
	width: fit-content;
	text-align: end;
}

.current__condition-img {
	margin-left: 10px;
}

.current__day {
	font-family: 'Rubik', sans-serif;
	color: white;
	font-weight: 400;
	font-size: 2.5rem;
	line-height: 1.3;
	letter-spacing: -0.5px;
	text-shadow: 3px 3px 9px rgba(0, 0, 0, 0.74);
}

.third-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.forecast-item {
	display: flex;
	flex-direction: column;
	min-width: 200px;
	background: rgba(0, 0, 0, 0.4);
	padding: 20px;
	border-radius: 8px;
	color: white;
	margin: 0 20px;
}

.forecast-item__localdate {
	align-self: center;
	font-size: 2rem;
	line-height: 1.2;
	letter-spacing: -1px;
	font-family: 'Rubik', sans-serif;
}

.forecast-item__condition {
	font-size: 1.3rem;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: -0.3px;
	align-self: center;
	font-family: 'Overpass', sans-serif;
}

.forecast-item > img {
	width: 80px;
	align-self: center;
}

.forecast__temp-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.forecast__temp-wrapper > * {
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	font-size: 1.3rem;
}

@media only screen and (max-width: 800px) {
	.fa-magnifying-glass {
		font-size: 80%;
		left: 82%;
		top: calc(50% - 0.5em);
	}
	#city-input {
		font-size: 85%;
		width: 140px;
		background: rgba(255, 255, 255, 0.2);
	}

	.current {
		min-width: 192px;
	}

	.current__city,
	.current__time {
		font-size: 2.55rem;
	}
	.current__region {
		font-size: 1.3rem;
	}
	.current__temp {
		font-size: 1.7rem;
	}
	.current__condition {
		font-size: 1.1rem;
	}
	.data-widget {
		min-width: 136px;
	}
	.current__day {
		font-size: 1.25rem;
	}
	.third-section {
		flex-direction: column;
	}
	.forecast-item {
		margin-bottom: 1rem;
		min-width: 180px;
	}
	main {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 0.6fr 1fr;
	}
	.forecast-item__localdate {
		font-size: 1.25rem;
	}
	.forecast-item__condition {
		font-size: 1.1rem;
	}
	.forecast-item > img {
		width: 60px;
	}
	.forecast__temp-wrapper > h3 {
		font-size: 1rem;
	}
}
